body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}
#gameCanvas {
    background-color: rgb(146, 193, 255);
    border: 2px solid black;
}
#gameOverMessage {
    display: none;
    font-size: 24px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}